:root {
  --primary-text-color: #757575);
  --secondary-text-color: rgba(33, 33, 33, 1);
  --white-text-color: rgba(255, 255, 255, 1);
  --primary-bgc: #e5e5e5;
  --secondary-bgc: rgba(245, 244, 250, 1);
}

body {
font-family:'Roboto';
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}
