:root {
  --primary-text-color: #757575);
  --secondary-text-color: #212121;;
  --white-text-color: #FFFFFF;
  --primary-bgc: #e5e5e5;
  --secondary-bgc: #F5F4FA;
}

body {
font-family:'Roboto';
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;

color: var(--primary-text-color);
background-color: var(--primary-bgc);
}

header {
    background-color: #FFFFFF;
}
