/* Переменные*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #2196F3;
  --white-text-color: #FFFFFF;
  --primary-bgc: #FFFFFF;
  --secondary-bgc: #F5F4FA;
}

/*Body*/

body {
font-family:'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0.03em;

color: var(--primary-text-color);
background-color: var(--primary-bgc);
}

/*Header*/

.header {
    background-color: var(--primary-bgc);
}
.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--secondary-text-color);
}
.web-title {
    color: #212121;
}

.header-item .link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: #212121;
}

.header-list, .advantages-list, .works-list, .team-list {
    list-style: none;
    text-decoration: none;
}

.header-list .link.current {
color:var(--secondary-text-color);
}

.link.contact {
font-weight: 500;
line-height: 1.14px;
letter-spacing: 0.02em;

 color: var(--primary-text-color);  
text-decoration: none;
}

.header-list .link: hover, 
.header-list .link:focus,
{
    color:var(--secondary-text-color);
}
.header-list .link.contact:hover,
.header-list .link.contact:focus,
.footer .adress-link:hover,
.footer .adress-link:focus
 {
    color: var(--secondary-text-color);
    
}
/*Hero*/
.hero {
    background: #2F303A;
}
.hero-title { 
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--white-text-color);
}
.hero .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--white-text-color);
    background: var(--secondary-text-color);}

    /*Section advantages*/

    .advantages {
        background-color: var(--primary-bgc);
    }
.advantages-list::first-letter 
{
    list-style: none;
}
  
.advantages .title-advantage {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    

    color: #212121;
    
}
.works-title, .team-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    color: #212121;
}
/*Section Team*/

.name-title {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.19;

color: #212121;
}

.team{
    background-color: var(--secondary-bgc);
}
.post-team
{font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.19;

color:var(--primary-text-color);
}

/*Footer*/

.footer {
    background-color: #2F303A;
}
.adress {
   
    line-height: 1.71;
    font-style: normal;
    color: var(--white-text-color);
}
.studio-title{
    color: var(--white-text-color);
}
.adress-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*Page Portfolio*/

.exsamples-list,
.exsamples-model {
    list-style: none;
}
.button.current {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--white-text-color);
    background-color: #2196F3;}
    
    .button {
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

        color:#212121
        background-color: var(--secondary-bgc);
    }

.exsamples-model-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: #212121;

} 
.exsamples-model-link {
        text-decoration: none;
    }
.exsamles-model-type {
    font-size: 16px;
    line-height: 1.88;
    
    color: var(--primary-text-color);}
   